<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.edocent.androidmoduledemo.DemoActivity"
            android:label="@string/title_activity_demo"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
    </application>
</manifest>
